<h1 class="display-3">Coqueteis</h1>
<div style="text-align: center">
<button id="confettih1">Click me!</button>
</div>
<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/random/400x400/?<%=cocktail.name%>" class="card-img-top" alt="<%=cocktail.name%>">
        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name %></h5>
          <p class="card-text">Ingredientes:
          <ul>
            <% cocktail.ingredients.each do |ingredient| %>
            <li>
              <%= ingredient.name.capitalize %>
            </li>
            <% end %>
          </ul>
          </p>
          <%= link_to "Saiba mais", cocktail_path(cocktail), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
